<head>
  <style>
    .command{
      background: bisque;
    }
    .message{
      padding-left: 10px;
    }
    .time{
      color: green;
    }
    .error{
      color: red;
    }
  </style>
</head>
<form action="/command" method="post">
  {% csrf_token %}
  <span>bindDN</span>
  <input type="text" id="bindDN" name="bindDN" value="{{ bindDN }}">
  <br>
  <span>scope</span>
  <input type="text" id="scope" name="scope" value="{{ scope }}">
  <br>
  <span>filter</span>
  <input type="text" id="filter" name="filter" value="{{ filter }}">
  <br>
  <span>username</span>
  <input type="text" id="username" name="username">
  <span>password</span>
  <input type="password" id="password" name="password">
  <input type="submit" value="Exc">
</form>

<div>
  <ul class="logs">
    {% for message in messages %}
    <li class="{{ message.tag }} {{ message.type }}">{{ message.msg }}</li>
    {% endfor %}
  </ul>
</div>
